<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.atguigu.crowdfunding.bean.Ticket" alias="ticket"/>
		<typeAlias type="com.atguigu.crowdfunding.bean.MemberCertimgCount" alias="mcc"/>
		<typeAlias type="com.atguigu.crowdfunding.bean.Member" alias="member"/>
		<typeAlias type="com.atguigu.crowdfunding.cpes.bean.CertImg" alias="certImg"/>
		<typeAlias type="com.atguigu.crowdfunding.cpes.bean.AccCertImgCount" alias="acc"/>
		<typeAlias type="com.atguigu.crowdfunding.cpes.bean.User" alias="user"/>
		<typeAlias type="com.atguigu.crowdfunding.cpes.bean.Permission" alias="permission"/>
		<typeAlias type="com.atguigu.crowdfunding.cpes.bean.Role" alias="role"/>
		<typeAlias type="com.atguigu.crowdfunding.cpes.bean.RolePermission" alias="rp"/>
		<typeAlias type="com.atguigu.crowdfunding.cpes.bean.RolePermissionCount" alias="rpc"/>
		<typeAlias type="com.atguigu.crowdfunding.cpes.bean.UserRole" alias="ur"/>
		<typeAlias type="com.atguigu.crowdfunding.cpes.bean.UserRoleCount" alias="urc"/>
		<typeAlias type="com.atguigu.crowdfunding.bean.Datas" alias="datas"/>
	</typeAliases>
</configuration>